{% extends "core/base.html" %}
{% block content %}
<div class="container mt-5">
  <h1 class="text-warning mb-5 border-bottom">SKILLS</h1>
  <h4 class="text-warning">I have these Skills:</h4>

  <div class="row">
    <div class="col-sm-5 mb-4">
      <h3 class="text-white mt-3">HTML/CSS</h3>
      <div class="progress">
        <div
          class="progress-bar bg-danger"
          role="progressbar"
          style="width: 100%;"
          aria-valuenow="100"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          100%
        </div>
      </div>
    </div>

    <div class="col-sm-5 mb-4">
      <h3 class="text-white mt-3">JavaScript</h3>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated"
          role="progressbar"
          style="width: 90%;"
          aria-valuenow="90"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          90%
        </div>
      </div>
    </div>

    <div class="col-sm-5 mb-4">
      <h3 class="text-white mt-3">Python</h3>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated"
          role="progressbar"
          style="width: 90%;"
          aria-valuenow="90"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          90%
        </div>
      </div>
    </div>

    <div class="col-sm-5 mb-4">
      <h3 class="text-white mt-3">Django</h3>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated"
          role="progressbar"
          style="width: 90%;"
          aria-valuenow="90"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          90%
        </div>
      </div>
    </div>

    <div class="col-sm-5 mb-4">
      <h3 class="text-white mt-3">C++</h3>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated"
          role="progressbar"
          style="width: 85%;"
          aria-valuenow="85"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          85%
        </div>
      </div>
    </div>

    <div class="col-sm-5 mb-4">
      <h3 class="text-white mt-3">Java</h3>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated"
          role="progressbar"
          style="width: 80%;"
          aria-valuenow="80"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          80%
        </div>
      </div>
    </div>

    <div class="col-sm-5 mb-4">
      <h3 class="text-white mt-3">C Language</h3>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated"
          role="progressbar"
          style="width: 75%;"
          aria-valuenow="75"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          75%
        </div>
      </div>
    </div>

    <div class="col-sm-5 mb-4">
      <h3 class="text-white mt-3">C#</h3>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated"
          role="progressbar"
          style="width: 80%;"
          aria-valuenow="80"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          80%
        </div>
      </div>
    </div>

      </div>
    </div>
  </div>

  <!-- Social Media Icons -->
  <div class="text-center mt-5">
    <!-- LinkedIn Icon -->
     <h5 class="text-warning">Check out my activities on these Accounts</h5>
    <a
      href="https://www.linkedin.com/in/your-profile"
      class="btn btn-link"
      target="_blank"
    >
      <i class="fab fa-linkedin fa-2x"></i>
    </a>

    <!-- GitHub Icon -->
    <a
      href="https://github.com/your-username"
      class="btn btn-link"
      target="_blank"
    >
      <i class="fab fa-github fa-2x"></i>
    </a>
  </div>
</div>
{% endblock content %}


