.st-font {
  font-family: cursive;
}
html,
body {
  height: 100%;
}
.container-fluid {
  min-height: 100%;
}

/* services icon can change here */
a.nav-link{
  color: antiquewhite;
}
a:hover{
  color: aliceblue;
}