{% extends "core/base.html" %}
{% load static %}
{% block content %}
 
<div class=" container mt-5">
    <h1 class="text-warning mb-5 border-bottom " >SERVICES</h1>
    <div class="row text-center text-white mb-5">

     <div class="col-sm-4">
    <i class="fa-brands fa-searchengin fa-2x mb-3 "   color="chartreuse"></i>
    <h3>SEO</h3>
    <p class="s-color">Farhan’s ability to integrate SEO strategies into his projects ensures that the websites he develops are not only functional but also optimized for discoverability and performance in the competitive online landscape.</p>
    
     </div>
     <div class="col-sm-4">
    <i class="fa-solid fa-web-awesome fa-2x mb-3  color"  color="chartreuse"></i>
    <h3>Web Desing</h3>
    <p class="s-color">Farhan is skilled in web design, I was make some projects of web with the web disging i want to improve the my knowledge</p>

     </div>
     <div class="col-sm-4">
    <i class="fa-solid fa-code fa-2x mb-3 color" color="chartreuse"></i>
    <h3>Web Development</h3>
    <p class="s-color">Farhan is skilled in web development,I was make some projects of web with the web disging i want to improve the my knowledge  </p>

     </div>
    </div>
</div>
    <div class="row text-center text-white mb-5">

     <div class="col-sm-4">
    
    <i class="fa-brands fa-python fa-2x mb-3" color="chartreuse"></i>
    <h3>Python </h3>
    <p class="s-color">Farhan is a Python developer, adept at using Python's versatile and powerful features to create efficient and scalable applications. His expertise spans across various domains, including web development, data analysis i have the knowledge in the oop in the python and i was make the some game in the python like snakes . now i want to improve the my skills</p>
    
     </div>
     <div class="col-sm-4">
    
    <i class="fa-brands fa-paypal fa-2x mb-3 "  color="chartreuse"></i>
    <h3>Djnago</h3>
    <p class="s-color">Farhan is knowledgeable about the Django framework, utilizing its robust features to build secure, scalable, and maintainable web applications I was make the some projeect with the framework of the django using the html CSS JS and the bootstrap</p>

     </div>
     <div class="col-sm-4">
    
    <i class="fa-brands fa-js fa-2x mb-3" color="chartreuse"></i>
    <h3>JavaScript </h3>
    <p class="s-col">Farhan is knowledgeable about JavaScript, leveraging its power to create interactive and dynamic web applications I have litte bit knowledge on the js but now i am working on the js</p>

     </div>
    </div>
</div>
{% endblock content %} 